<%-include("./partials/header") %> 
<%-include("./partials/navbar") %>

    <div class="container-customer">

      <h1 class="text-center mt-3">Add Customer</h1>
      <form action="/index" method="POST">
        
      <input type="text" id="name" name="name" placeholder="Enter Your Full Name"><br><br>
        
      <input type="email" id="email" name="email" placeholder="Enter Your Email Address" required><br><br>

      <input type="date" id="dob" name="dob" placeholder="Enter Your Birth-Date" required><br><br>
      
      <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone Number" required><br><br>
    
      <label for="gender">Select Your Gender</label>
      <select id="gender" name="gender" required>
        <option value="">Select</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select><br><br>
            
      <input type="text" id="state" name="address" placeholder="Enter Your State Name" required><br><br>
      
      <input type="number" id="balance" name="currentBal" placeholder="Enter Your Bank Balance" required><br><br>
      
      <button type="submit">Submit</button>
    </form>
  </div>
    
    <%-include("./partials/footer") %>