<%-include("./partials/header") %> 
<%-include("./partials/navbar") %>

<!-- Title -->
<section id="title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 Title-text" onload="animateText()">
                <h1 class="big-heading animate"> Your Money, Your Future. </h1>
                <h1 class="big-heading animate"> Invest in Your Dreams,</h1>
                <h1 class="big-heading animate"> Banking with Us. </h1>
            </div> 
            <div class="col-lg-6">
                <img class="title-image" id="animatedImage" src="images/bank.png" alt="bank image">
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
  
<section class="colored-section" id="customers">
    <div>
      <h3 class="big-heading animate">Your Life Saving are our responsibility. we are trustable organization older in market with large amount customers.</h3>

      <a class="btn btn-outline-light btn-lg customer-button" href="index" role="button">View Customers</a>
      
      <a class="btn btn-outline-light btn-lg customer-button" href="addcustomer" role="button">Add Customer</a>
    </div>
    
  </section>

<%-include("./partials/footer") %>
